@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="mb-10"><button type="button" class="btn btn-success show-form-author">Add author</button></div>
    <div class="card">
        <div class="author-form card-body">
            <form id="add-author" method="post">
                <div class="form-group" style="display:none">
                    <input type="text" class="form-control" id="id" placeholder="Book Author">
                </div>
                <div class="form-group">
                    <label for="name">Author</label>
                    <input type="text" class="form-control" id="name" placeholder="Author">
                </div>
                <div class="form-group">
                    <label for="name">Infomation</label>
                    <textarea class="form-control" id="info" placeholder="Infomation"></textarea>
                </div>
                <button type="submit" class="btn btn-primary add-author">Submit</button>
                <button type="button" class="btn btn-primary update-author" style="display: none">Update</button>
                <button type="button" class="btn btn-light close-form">Close</button>
            </form>
        </div>
    </div>
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Infomation</th>
                    <th scope="col">Configs</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.author-form').hide();
        $('.show-form-author').click(function () {
            $('.author-form').show();
        });
        // add author
        $('#add-author').submit(function (event) {
            event.preventDefault();
            $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "Author/Insert", // Controller/View
                    data: { //Passing data
                        Id: generateId(6),
                        Name: $("#name").val(),
                        Info: $("#info").val(),
                    },
                    success: function (response) {
                        load();
                    }
                });
        })
        // delete author
        
        $('.close-form').click(function () {
            $('.author-form').hide();
        })
        $(document).on('click', '.edit-author', function () {
            $('.author-form').show();
            $('#id').val($(this).attr('data-id')),
                $('#name').val($(this).attr('data-name')),
                $('#info').val($(this).attr('data-info')),
                $('.update-author').show();
            $('.add-author').hide();
        })
        $('.update-author').click(function () {
            $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "Author/Edit", // Controller/View
                    data: { //Passing data
                        Id: $('#id').val(),
                        Name: $('#name').val(),
                        Info: $('#info').val(),
                    },
                    success: function (response) {
                        load();
                    }
                });
        })
        load();
        $(document).on('click', '.remove-author', function () {
            $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "Author/Delete", // Controller/View
                    data: { //Passing data
                        Id: $(this).attr('data-id'),
                    },
                    success: function (response) {
                        load();
                    }
                });
        })
        function load() {
            var content;
            $.get("Author/Get", function (authors) {
                authors.map(function (author, index) {
                    content += '<tr><th scope="row">' + author.Id + '</th><td>' + author.Name + '</td><td>' + author.Info + '</td><td><div class="flex"><button type="button" class="btn btn-secondary edit-author" data-id="' + author.Id + '" data-name="' + author.Name + '" data-info="' + author.Info + '">Edit</button><button type="button" class="btn btn-danger remove-author" data-id=' + author.Id + '>Delete</button></div></td></tr>';
                })
                if (authors.length > 0) {
                    $('table tbody').html(content);
                } else {
                    $('table tbody').html("");
                }
            });
        }
        function generateId(length) {
            var result = '';
            var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for (var i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }
    })
    
    
    
</script>