
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="mb-10"><button type="button" class="btn btn-success show-form-category">Add category</button></div>
    <div class="card">
        <div class="category-form card-body">
            <form id="add-category" method="post">
                <div class="form-group" style="display:none">
                    <input type="text" class="form-control" id="id" placeholder="Book Category">
                </div>
                <div class="form-group">
                    <label for="name">Email address</label>
                    <input type="text" class="form-control" id="name" placeholder="Book Category">
                </div>
                <button type="submit" class="btn btn-primary add-category">Submit</button>
                <button type="button" class="btn btn-primary update-category" style="display: none">Update</button>
                <button type="button" class="btn btn-light close-form">Close</button>
            </form>
        </div>
    </div>
    <div class="card">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Configs</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
    </div>
    </div>
<script>
        $(document).ready(function () {
            $('.author-form').hide();
            $('.show-form-author').click(function () {
                $('.author-form').show();
            });
            // add category
            $('#add-author').submit(function (event) {
                event.preventDefault();
                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: "Author/Insert", // Controller/View
                        data: { //Passing data
                            Id: generateId(6),
                            Name: $("#name").val(), //Reading text box values using Jquery
                        },
                        success: function (response) {
                            load();
                        }
                    });
            })
            // delete category
            $('.remove-author').click(function () {
                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: "Author/Delete", // Controller/View
                        data: { //Passing data
                            Id: $(this).attr('data-id'),
                        },
                        success: function (response) {
                            load();
                        }
                    });
            })
            $('.close-form').click(function () {
                $('.author-form').hide();
            })
            $(document).on('click','.edit-author',function () {
                $('.author-form').show();
                $('#id').val($(this).attr('data-id')),
                    $('#name').val($(this).attr('data-name')),
                    $('.update-author').show();
                $('.add-author').hide();
            })
            $('.update-author').click(function () {
                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: "author/Edit", // Controller/View
                        data: { //Passing data
                            Id: $('#id').val(),
                            Name: $('#name').val()
                        },
                        success: function (response) {
                            load();
                        }
                    });
            })
            function generateId(length) {
                var result = '';
                var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                var charactersLength = characters.length;
                for (var i = 0; i < length; i++) {
                    result += characters.charAt(Math.floor(Math.random() * charactersLength));
                }
                return result;
            }
            function load() {
                var content;
                $.get("Author/Get", function (authores) {
                    console.log(authores);
                    authores.map(function (author, index) {
                        content += '<tr><th scope="row">' + author.Id + '</th><td>' + author.Name + '</td><td><div class="flex"><button type="button" class="btn btn-secondary edit-author" data-id="' + author.Id + '" data-name="' + author.Name + '">Edit</button><button type="button" class="btn btn-danger remove-author" data-id=' + author.Id + '>Delete</button></div></td></tr>';
                    })
                    $('table tbody').html(content);
                });
            }
            load();
        })
</script>
