@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="card">
        <table class="table orders">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Status</th>
                    <th scope="col">AccCustomerId</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Config</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.modal-order-detail').hide();
        load();
        function load() {
            var content;
            $.get("Order/Get", function (Orders) {
                Orders.map(function (ord, index) {
                    content += '<tr><th scope="row">' + ord.Id + '</th><td>' + ord.Status + '</th><td>' + ord.AccCustomerId + '</th><td>' + JSON.parse(ord.createdAt) + '</th><td> <a data-id="' + ord.Id + '" href="/Admin/OrderDetail/GetByOrder/'+ord.Id+'" class="order-detail" >Detail</a> </td></tr>';
                })
                if (Orders.length > 0) {
                    $('table.orders tbody').html(content);
                } else {
                    $('table.orders tbody').html("");
                }
            });
        }
    })
        
</script>
