@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="mb-10"><button type="button" class="btn btn-success show-form-subcategory">Add subcategory</button></div>
    <div class="card">
        <div class="subcategory-form card-body">
            <form id="add-subcategory" method="post">
                <div class="form-group" style="display:none">
                    <input type="text" class="form-control" id="id" placeholder="Book Category">
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="custom-select" id="category">
                    </select>
                </div>
                <div class="form-group">
                    <label for="subcategory">Subcategory</label>
                    <input type="text" class="form-control" id="subcategory" placeholder="Subcategory">
                </div>
                <button type="submit" class="btn btn-primary add-category">Submit</button>
                <button type="button" class="btn btn-primary update-category" style="display: none">Update</button>
                <button type="button" class="btn btn-light close-form">Close</button>
            </form>
        </div>
    </div>
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Subcategory</th>
                    <th scope="col">Category</th>
                    <th scope="col">Configs</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script>
        $(document).ready(function () {
            $('.subcategory-form').hide();
            $('.show-form-subcategory').click(function () {
                $('.subcategory-form').show();
            });
            // add subcategory
            $('#add-subcategory').submit(function (event) {
                event.preventDefault();
                var data = { //Passing data
                    Id: generateId(6),
                    Name: $("#subcategory").val(),
                    CategoryId: $("#category").val(),
                };
                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: "SubCategory/Insert", // Controller/View
                        data: { //Passing data
                            Id: generateId(6),
                            Name: $("#subcategory").val(),
                            CategoryId: $("#category").val(),
                        },
                        success: function (response) {
                            load();
                        }
                    });
            })
            // delete subcategory

            $('.close-form').click(function () {
                $('.subcategory-form').hide();
            })
            $(document).on('click','.edit-subcategory',function () {
                $('.subcategory-form').show();
                $('#id').val($(this).attr('data-id')),
                    $('#subcategory').val($(this).attr('data-name')),
                    $('#category option[value="' + $(this).attr('data-categoryId')+'"]')
                    $('.update-subcategory').show();
                $('.add-subcategory').hide();
            })
            $('.update-subcategory').click(function () {
                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: "SubCategory/Edit", // Controller/View
                        data: { //Passing data
                            Id: $('#id').val(),
                            Name: $("#subcategory").val(),
                            CategoryId: $("#category").val(),
                        },
                        success: function (response) {
                            load();
                        }
                    });
            })
            function generateId(length) {
                var result = '';
                var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                var charactersLength = characters.length;
                for (var i = 0; i < length; i++) {
                    result += characters.charAt(Math.floor(Math.random() * charactersLength));
                }
                return result;
            }

            load();
            $(document).on('click', '.remove-subcategory', function () {
                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: "SubCategory/Delete", // Controller/View
                        data: { //Passing data
                            Id: $(this).attr('data-id'),
                        },
                        success: function (response) {
                            load();
                        }
                    });
            })
            function load() {
                var content;
                $.get("SubCategory/Get", function (subcategoires) {
                    subcategoires.map(function (subcategory, index) {
                        content += '<tr><th scope="row">' + subcategory.Id + '</th><td>' + subcategory.Name + '</td><td>' + subcategory.Category.Name + '</td><td><div class="flex"><button type="button" class="btn btn-secondary edit-subcategory" data-id="' + subcategory.Id + '" data-name="' + subcategory.Name + '" data-categoryId="' + subcategory.Category.Id + '" data-name="' + subcategory.Category.Name + '">Edit</button><button type="button" class="btn btn-danger remove-subcategory" data-id=' + subcategory.Id + '>Delete</button></div></td></tr>';
                    })
                    if (subcategoires.length > 0) {
                        $('table tbody').html(content);
                    } else {
                        $('table tbody').html("");
                    }
                });
            }
            function loadCategory() {
                var content;
                $.get("Category/Get", function (categories) {
                    content = '<option selected disabled>Choose...</option>'
                    categories.map(function (category, index) {
                        content += '<option value="'+category.Id+'">'+category.Name+'</option>';
                    })
                    if (categories.length > 0) {
                        $('#category').html(content);
                    } else {
                        $('#category').html("");
                    }
                });
            }
            loadCategory();
        })


</script>