@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Total</th>
                    <th scope="col">CreatedAt</th>
                    <th scope="col">AccCustomerId</th>
                </tr>
            </thead>
            <tbody></tbody>
            <div>
                <button>Xem chi tiết</button>
            </div>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        load();
        $(document).on('click', '.remove-order', function () {
            $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "Order/Delete", // Controller/View
                    data: { //Passing data
                        Id: $(this).attr('data-id'),
                    },
                    success: function (response) {
                        load();
                    }
                });
        })
        function load() {
            var content;
            $.get("Order/Get", function (orders) {
                orders.map(function (order, index) {
                    content += '<tr><th scope="row">' + order.Id + '</th><td>' + order.Status + '</td><td>' + order.Product.Name + '</td><td>' + order.AccCustomer.FirstName + order.AccCustomer.LastName + '</td><td><div class="flex"><button type="button" class="btn btn-danger remove-order" data-id=' + order.Id + '>Delete</button></div></td></tr>';
                })
                if (orders.length > 0) {
                    $('table tbody').html(content);
                } else {
                    $('table tbody').html("");
                }
            });
        }
    })
</script>


